dist: trusty

language: cpp
compiler: g++

before_install:
  # C++17
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  # C++17
  - sudo apt-get install -qq g++-7

script:
  - cmake -D ATABLASH_BUILD_TESTS=ON .
  - make
  - make test --output-on-failure

