dist: trusty

language: cpp
compiler: g++

before_install:
  # C++17
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  # C++17
  - sudo apt-get install -qq g++-7
  - sudo apt-get install -qq libgoogle-glog-dev libgtest-dev

script:
  - cmake -D CMAKE_C_COMPILER=gcc-7 -D CMAKE_CXX_COMPILER=g++-7 -D ATABLASH_BUILD_TESTS=ON .
  - make
  - make --output-on-failure test

