dist: trusty

language: cpp
compiler: g++

addons:
  apt:
    sources:
      # C++17
      - ubuntu-toolchain-r-test
    packages:
      # C++17
      - g++-7
      # dependencies
      - libgoogle-glog-dev
      - libgtest-dev

install:
  - travis/fix-gtest.sh

script:
  # build
  - cmake -D CMAKE_C_COMPILER=gcc-7 -D CMAKE_CXX_COMPILER=g++-7 -D ATABLASH_BUILD_TESTS=ON .
  - make
  - ctest --verbose

